/* CUSTOM STYLE */

@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

body,
select,
input {
    font-family: 'Jeju Gothic', sans-serif;
}

.wrap {
    width: 80%;
    margin: 50px auto;
}

/* 검색창, 페이지당 select 등 input 관련 */
.dataTables_wrapper .dataTables_filter input,
select[name=myTable_length] {
    padding: 0.5em;
}

#select {
    padding: 0.5em;
    margin-right: 0.5em;
}

/* page button */
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #337ab7;
    color: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: linear-gradient(to bottom, #585858 0%, #111 100%);
    color: white !important;
}

table.dataTable tbody tr {
    transition-duration: .28s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-property: background-color;
}

table.dataTable.display tbody tr.odd>.sorting_1,
table.dataTable.order-column.stripe tbody tr.odd>.sorting_1,
table.dataTable.display tbody tr.even>.sorting_1,
table.dataTable.order-column.stripe tbody tr.even>.sorting_1,
table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
    background: #E1F5FE;
}

/* EXCEL 버튼 */
.exportCSV{
	margin-right: 5px;
	text-align: center;
	border: 1px solid white;
	transition: all 0.15s;
	background-color: #00695C;
	padding: 5px 3px;
	color: white;
    border-radius: 5px;
    cursor: pointer;
}

.exportCSV:hover{
	background-color: transparent;
	border: 1px solid gray;
	color: black;
}

@media screen and (max-width: 640px) {

    /* 검색창, 페이지당 select 등 input 관련 */
    .dataTables_wrapper .dataTables_filter input,
    select[name=myTable_length] {
        padding: 0.2em;
        width: 30%;
    }

    #select {
        padding: 0.2em;
        margin-right: 0.5em;
    }
}